/* navLink design */

#font-handel {
    margin-right: 32px;
}


@media only screen and (min-width:900px) and (max-width:979px) {
    #transform-design {
        font-size: 13px;
    }

    #font-handel {
        margin-right: 14px;
    }
}

@media only screen and (min-width:980px) and (max-width:1110px) {
    #transform-design {
        font-size: 16px;
    }

    #font-handel {
        margin-right: 20px;
    }
}